@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://tailwindcss.com/docs/adding-base-styles */
@layer base {
  body {
    @apply font-sans;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply text-dark-high-emphasis;
    @apply dark:text-light-high-emphasis;
  }
  @font-face {
    font-family: Inter;
    font-weight: 400;
    src: url(/fonts/Inter/inter-v3-latin-400.woff) format('woff');
  }
  @font-face {
    font-family: Inter;
    font-weight: 500;
    src: url(/fonts/Inter/inter-v3-latin-500.woff) format('woff');
  }
  @font-face {
    font-family: Inter;
    font-weight: 700;
    src: url(/fonts/Inter/inter-v3-latin-700.woff) format('woff');
  }
}

@layer components {
  .transition-button {
    @apply transition duration-200 ease-in-out;
  }
}

/* [TRANSITIONS] */

/* navbar */
.animate-navbar {
  z-index: 999;
  transform: translate3d(0, 0, 0);
  transition: 0.2s all ease-out;
}
.animate-navbar.hidden-navbar {
  box-shadow: none;
  transform: translate3d(0, -100%, 0);
}
/* slide-fade */
.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.3s ease;
}
.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}
